<html>
<head>
<body class="jumbotron text-center">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="/reload/reload.js"></script>
  
<title>Node Authentication</title>
</body>

<div class = "conteiner" style="margin-top: 4cm;">

 <h1><span class="fa fa-lock"></span> Node Authentication</h1>
 <p>Log in or sign up</p>

<a href="./sign" class="btn btn-default"><span>Sign up</span></a>
<a href="./log" class="btn btn-default"><span>Log in</span></a>

</div>
</head>
</html>