<html>
<head>
    <title>Node Authentication</title> <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="/reload/reload.js"></script>
    <link rel="stylesheet" type="text/css" href="./css/index.css">
</head>
<body>

<div id = "profile">

        <h3>Successfully login</h3>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>

</div>
</body>
</html>