<!DOCTYPE html>
<html>
<head>
	<title>Sign up</title>
    
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.formvalidation/0.6.1/js/formValidation.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.formvalidation/0.6.1/js/framework/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="./css/index.css">
    <script type="text/javascript" src = "./js/sign.js"></script>
    <script src="/reload/reload.js"></script>
</head>

<body>

<div class="container">
<h1>Sign up</h1><hr>

<div class="navbar">

<a href="/" >Home</a>
<a href="/login" >Login</a>

</div><br>

<div>

		<% if (error.length > 0) { %>
	   		<div class="alert alert-danger"><%= error %></div>
	 	<% } %>

</div>

<form autocomplete="off" action="/sign" method="post" id = "validtation" >

<div class="form-group">
<label>Name :</label><br>
<input type="text" name="Name" class="form-control" placeholder="Enter your name." >
</div>

<div class="form-group">
<label>Username</label><br>
<input type="text" name="Username" class="form-control" placeholder="Enter your username." />
</div>


<div class="form-group">
<label>Email :</label><br>
<input type="email" name="Email" class="form-control" placeholder="Enter your email." />
</div>


<div class="form-group">
<label>Enter Password :</label><br>
<input type="password" name="Password" class="form-control" placeholder="Enter your password." >
</div>


<div class="form-group">
<label>Re-Enter-Password :</label><br>
<input type="password" name="Confirm" class="form-control" placeholder="Re-Enter-Password" >
</div>


<div class="form-group">
<button type="submit" class="btn btn-success">Sign up</button><br><br>
</div>

</form>
</div>
</body>
</html>