.container{

width: 13cm; 
margin-top: 1cm;
margin-left: 10cm;
}

.btn{

margin-left: 5cm;
}

.navbar {

overflow: hidden;
background-color: white;
font-family: Arial;
position: absolute;
margin-left: 8.4cm;
margin-top: -0.5cm;
}

.navbar a {

float: left;
font-size: 16px;
color: blue;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

.navbar a:hover{

text-decoration: underline;

}

#profile{

	margin-left: 14cm;
	margin-top: 6cm;
}

.btn-default{

	margin-left: 1.5cm;
}